/* Oreichalkon — variable font (woff2), wght 100–1000
 * SIL Open Font License 1.1 — see ./OFL.txt
 * Upstream: https://dotcolon.net/fonts/oreichalkon
 * Relative src URLs — one <link> loads the woff2 from the same host.
 */

@font-face {
  font-family: 'Oreichalkon';
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url('./files/oreichalkon-variable.woff2') format('woff2');
}
